<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/playlists/edit-songs/<%=songs.id%>?_method=PUT" method="POST">
    <% for(var i = 0; i < songs.title.length; i++){ %>
        <input type="text" name="title" placeholder="song title" value="<%=songs.title[i]%>" />
        <input type="text" name="artist" placeholder="song artist" value="<%=songs.artist[i]%>"/>
        <input type="text" name="link" placeholder="youtube link to song" value="<%=songs.link[i]%>"/>
        <input type="text" name="description" placeholder="description of song" value="<%=songs.description[i]%>"/><br />
    <% } %>
    <input type="submit" value="submit"/>
    </form>
  </body>
</html>
