<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>editing <%=user.username%></h1>
    <form action="/users/<%=user.id%>?_method=PUT" method="POST">
      <input type="password" name="password" placeholder="password" />
      <input type="text" name="displayName" value="<%=user.displayName%>" placeholder="display name">
      <input type="text" name="icon" value="<%=user.icon%>" placeholder="icon url">
      <input type="text" name="description" value="<%=user.description%>" placeholder="description">
      <input type="submit" value="edit" />
  </body>
</html>
